<div class="form__item js-form__item">
  <fieldset class="form__fieldset form__checkbox js-form__fieldset" data-name="contact type">
    <legend class="form__legend form__required">Select at least one way we can get in touch with you</legend>
    <label for="checkbox1" class="form__label">
      <input type="checkbox" id="checkbox1" class="form__input js-form__input" name="contact type" value="email" required>
      <span>Email</span>
    </label>
    <label for="checkbox2" class="form__label">
      <input type="checkbox" id="checkbox2" class="form__input js-form__input" name="contact type" value="phone">
      <span>Phone call</span>
    </label>
    <label for="checkbox3" class="form__label">
      <input type="checkbox" id="checkbox3" class="form__input js-form__input" name="contact type" value="text">
      <span>Text</span>
    </label>
  </fieldset>
  <span class="form__error-message js-form__error-message"></span>
</div>