<div class="form__item">
  <fieldset class="form__fieldset form__checkbox">
    <legend class="form__legend">Checkbox Title</legend>
    <label for="checkbox1" class="form__label">
      <input type="checkbox" id="checkbox1" class="form__input" name="item1" value="1">
      <span>Label 1</span>
    </label>
    <label for="checkbox2" class="form__label">
      <input type="checkbox" id="checkbox2" class="form__input" name="item2" value="2">
      <span>Label 2</span>
    </label>
    <label for="checkbox3" class="form__label">
      <input type="checkbox" id="checkbox3" class="form__input" name="item3" value="3">
      <span>Label 3</span>
    </label>
  </fieldset>
</div>