<div class="form__item">
  <fieldset class="form__fieldset form__checkbox" data-name="contact type">
    <legend class="form__legend">How should we get in touch with you?<span aria-hidden="true">*</span>
    </legend>
    <label for="checkbox1" class="form__label">
      <input type="checkbox" id="checkbox1" class="form__input" name="contact type" value="email">
      <span>Email</span>
    </label>
    <label for="checkbox2" class="form__label">
      <input type="checkbox" id="checkbox2" class="form__input" name="contact type" value="phone">
      <span>Phone call</span>
    </label>
    <label for="checkbox3" class="form__label">
      <input type="checkbox" id="checkbox3" class="form__input" name="contact type" value="text">
      <span>Text</span>
    </label>
  </fieldset>
</div>