<dl class="accordion" data-component="accordion">
  <dt class="accordion__tab-container">
    <a href="javascript:;" class="accordion__tab">HTML
      <span class="accordion__icon"></span>
    </a>
  </dt>
  <dd class="accordion__panel">
{% highlight html %}
{% include components/accordion/accordion.html %}
{% endhighlight %}
  </dd>
  <dt class="accordion__tab-container">
    <a href="javascript:;" class="accordion__tab">JavaScript
      <span class="accordion__icon"></span>
    </a>
  </dt>
  <dd class="accordion__panel">
{% highlight javascript %}
{% include components/accordion/accordion.js %}
{% endhighlight %}
  </dd>
  <dt class="accordion__tab-container">
    <a href="javascript:;" class="accordion__tab">SCSS
      <span class="accordion__icon"></span>
    </a>
  </dt>
  <dd class="accordion__panel">
{% highlight scss %}
{% include components/accordion/accordion.scss %}
{% endhighlight %}
  </dd>
</dl>