<div class="form__item">
  <label for="name" class="form__label">Name<span class="form__asterisk-req" aria-hidden="true">*</span></label>
  <input id="name" type="text" name="name" class="form__input form__text" required>
  <span class="form__error-message" aria-live="polite"></span>
</div>
<div class="form__item">
  <label class="form__label" for="dateOfBirth">Date of birth<span class="form__asterisk-req" aria-hidden="true">*</span><span class="form__helper-text" aria-hidden="true">MM/DD/YYYY</span>
  </label>
  <span class="sr" id="dateFormat">Format two digit month, two digit day, four digit year</span>
  <input class="form__input form__text" 
         id="dateOfBirth"
         aria-describedby="dateFormat"
         type="text" 
         name="date of birth" 
         pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d" 
         required />
  <span class="form__error-message" aria-live="polite"></span>
</div>
<div class="form__item">
  <label class="form__label" for="email">Email<span class="form__asterisk-req" aria-hidden="true">*</span></label>
  <input class="form__input form__text" 
         id="email" 
         type="text" 
         name="email"
         pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" 
         required />
  <span class="form__error-message" aria-live="polite"></span>
</div>
<div class="form__item">
  <label class="form__label" for="phone">Phone number<span class="form__asterisk-req" aria-hidden="true">*</span></label>
  <input class="form__input form__text" 
         id="phone" 
         type="tel" 
         name="phone number"
         pattern="[0-9]*" 
         required />
  <span class="form__error-message" aria-live="polite"></span>
</div>