<fieldset class="form__fieldset form__radiogroup">
  <legend class="form__legend">Radio Button Title</legend>
  <label for="radio1" class="form__label">
    <input type="radio" id="radio1" class="form__input" name="form-name" value="1">
    <span>Label 1</span>
  </label>
  <label for="radio2" class="form__label">
    <input type="radio" id="radio2" class="form__input" name="form-name" value="2">
    <span>Label 2</span>
  </label>
  <label for="radio3" class="form__label">
    <input type="radio" id="radio3" class="form__input" name="form-name" value="3">
    <span>Label 3</span>
  </label>
</fieldset>