<div class="form__item js-form__item">
  <fieldset class="form__fieldset form__radiogroup js-form__fieldset " data-name="mailing list">
    <legend class="form__legend form__required">Would you like to be put on our volunteer mailing list?</legend>
    <label for="radio1" class="form__label">
      <input type="radio" id="radio1" class="form__input js-form__input" name="mailing list" value="yes" required>
      <span>Yes</span>
    </label>
    <label for="radio2" class="form__label">
      <input type="radio" id="radio2" class="form__input js-form__input" name="mailing list" value="no">
      <span>No</span>
    </label>
  </fieldset>
  <span class="form__error-message js-form__error-message"></span>
</div>