<fieldset class="form__fieldset form__radiogroup">
  <legend class="form__legend">Radio Button Title</legend>
    <input type="radio" id="radio1" class="form__input" name="form-name" value="1">
    <label for="radio1" class="form__label">Label 1</label>
    <input type="radio" id="radio2" class="form__input" name="form-name" value="2">
    <label for="radio2" class="form__label">Label 2</label>
    <input type="radio" id="radio3" class="form__input" name="form-name" value="3">
    <label for="radio3" class="form__label">Label 3</label>
</fieldset>