<div class="form__item">
  <fieldset class="form__fieldset form__radiogroup" data-name="mailing list">
    <legend class="form__legend">Would you like to be put on our volunteer mailing list?<span aria-hidden="true">*</span>
    </legend>
    <label for="radio1" class="form__label">
      <input type="radio" id="radio1" class="form__input" name="mailing list" value="yes" required>
      <span>Yes</span>
    </label>
    <label for="radio2" class="form__label">
      <input type="radio" id="radio2" class="form__input" name="mailing list" value="no">
      <span>No</span>
    </label>
  </fieldset>
</div>