<form action="#" class="form js-form" name="contactInfo" id="contactInfo" novalidate>
  <a class="form__error-link js-form__error-link" href="#"></a>
  <ol class="form__error-list js-form__error-list"></ol>
{% include components/text_input/textinput.html %}
{% include components/radio_button/radiobutton.html %}
{% include components/select/select.html %}
{% include components/textarea/textarea.html %}
{% include components/checkbox/checkbox.html %}
{% include components/submit_button/submitbutton.html %}
<p><span class="form__required"></span> Required field</p>
</form>