// COLORS

$gallery: #efefef;
$silver: #ccc;
$silver-lt: #dadada;
$silver-xlt: #f5f5f5;
$white: #fff;
$black: #000;

/*------------------------------------------
COLOR VARIABLES
-------------------------------------------*/

/* Components */
$component-background: $gallery;

/* Accordion */
$tab-background: $silver;

/* Radio buttons */
$radio-checked: $silver;