.form {
    $block: &;
    &__item {
        margin-bottom: rem(25);

        &:first-of-type { 
            margin-top: rem(15); // to account for error message box 
        }

        &.error {
            #{$block}__input {
                padding-right: rem(28);
                border: 1px solid red;
            }

            #{$block}__error-message {
                display: block;
                position: relative;
                padding: rem(5) 0 0 rem(20);
                font-size: rem(14);
                line-height: 1;

                &:before, &:after {
                    content: '';
                    height: rem(14);
                    border-left: 3px solid red;
                    position: absolute;
                    left: 6px;
                }

                &:before {
                    transform: rotate(-45deg);  
                }

                &:after {
                    transform: rotate(45deg);  
                }
            }
        }
    }
    
    &__label {
      display: block;
      margin-bottom: rem(5);
      line-height: 1;
    }

    &__input {
        margin-top: rem(5);
    }

    &__fieldset {
        margin: 0 0 rem(10) 0;
        padding: 0;
        border: none;
    }

    &__legend {
        margin-bottom: rem(6);
        padding: 0;
        line-height: 1;
    }

    &__helper-text {
        display: block;
        color: $helper-text;
        font-size: rem(13);
        line-height: 1;
    }

    &__required:after {
        content: '*';
        padding-left: rem(2);
        color: red;
    }

    &__error-message {
        display: none;
    }

    // error links specifically for screen readers, visually hidden from user
    &__error {
        &-link {
            display: none;
            padding: rem(15);
            background: $silver-lt;

            &.active {
                display: block;
            }
        }

        &-list {
            display: none;
            margin: 0;
            padding: 0 rem(15) rem(15);
            background: $silver-lt;
            list-style-position: inside;

            &.active {
                display: block;
            }
        }

        &-item {
            display: none;
            
            &.active {
                display: list-item;
            }
        }
    }
}