.form {
    $block: &;
    &__item {
        margin-bottom: rem(20);

        &.error {
            #{$block}__input {
                padding-right: rem(28);
                border: 1px solid red;
            }

            #{$block}__error-message {
                display: block;
                position: relative;
                padding: 5px 0 0 20px;
                font-size: rem(14);
                line-height: 1;

                &:before, &:after {
                    content: '';
                    height: rem(14);
                    border-left: 3px solid red;
                    position: absolute;
                    left: 6px;
                }

                &:before {
                    transform: rotate(-45deg);  
                }

                &:after {
                    transform: rotate(45deg);  
                }
            }
        }
    }
    
    &__label {
      display: block;
      margin-bottom: rem(5);
      line-height: 1;
    }

    &__input {
        margin-top: 5px;
    }

    &__fieldset {
        margin: 0 0 rem(10) 0;
        padding: 0;
        border: none;
    }

    &__legend {
        margin-bottom: rem(6);
        padding: 0;
        line-height: 1;
    }

    &__helper-text {
        display: block;
        color: $helper-text;
        font-size: rem(13);
        line-height: 1;
    }

    &__required:after {
        content: '\*';
        padding-left: 2px;
    }

    &__error-message {
        display: none;
    }

    // error links specifically for screen readers, visually hidden from user
    &__error {
        &-link {
            display: none;

            &.active {
                display: block;
            }
        }

        &-list {
            display: none;
            list-style: none;

            &.active {
                display: block;
            }
        }

        &-item {
            display: none;
            
            &.active {
                display: block;
            }
        }
    }
}