.form {
    $block: &;
    &__item {
        margin-bottom: rem(15);

        &.error {
            #{$block}__input {
                border: 1px solid red;
            }
        }

        &.success {
            #{$block}__input {
                border: 1px solid green;
            }
        }
    }
    
    &__label {
      display: block;
      margin-bottom: rem(5);
    }

    &__fieldset {
        margin: 0 0 rem(10) 0;
        padding: 0;
        border: none;
    }

    &__legend {
        margin-bottom: rem(6);
        padding: 0;
    }
}